SECRET_KEY=your-secret
DEBUG=False

ALLOWED_HOSTS=yourdomain.duckdns.org,yourapi.duckdns.org,localhost,127.0.0.1

CORS_ALLOWED_ORIGINS=https://yourdomain.duckdns.org
CSRF_TRUSTED_ORIGINS=https://yourdomain.duckdns.org

DB_NAME=equitylens
DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
